<div id="myNav" class="overlay">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
		>&times;</a
	>

	<div class="overlay-content">
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>
</div>
<div class="navbar">
	<a href="index.html" class="logo-container">
		<div class="img-container">
			<img src="assets/images/logo.png" alt="" class="img-fluid" />
		</div>
		<div class="company-name">Vote Anything</div>
	</a>
	<span onclick="openNav()" class="bar-container">
		<span class="bar bar-top"></span>
		<span class="bar bar-mid"></span>
		<span class="bar bar-bottom"></span>
	</span>
</div>