{% extends "front/master.html" %}

{% block contents %}

	<div class="banner category-banner">
		<div class="banner-content container">
			<form action="">
				<div class="form-group search">
					<input
						type="text"
						placeholder="Search for category"
						class="form-control"
					/>
				</div>
				<div class="form-group search-btn">
					<button type="submit">
						<i class="fa fa-search"></i>
						<span class="d-none d-md-inline-block">Search</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="category-section category-page-section">
		<div class="container" id="cataccordion">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html"><i class="fa fa-home"></i> Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="index.html"><i class="fa fa-futbol"></i> Sports</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Football</li>
				</ol>
			</nav>
			<!-- Tab panes -->
			<div class="catpage-content">
				<div class="row">
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/football.jpg"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="cat-title">
									Best Player
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/cricket.jpg"
										class="img-fluid"
										alt=""
                                    />
                                   
								</div>
								<div class="cat-title">
									Best Stadium
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/volleyball.jpg"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="cat-title">
									Best Clubs
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/basketball.jpg"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="cat-title">
									Best Country
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/volleyball.jpg"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="cat-title">
									Best League
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/basketball.jpg"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="cat-title">
									Best Coach
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/football.jpg"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="cat-title">
									Best Manager
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-6">
						<a href="votingPage.html">
							<div class="cat-item">
								<div class="img-container">
									<img
										src="assets/images/cricket.jpg"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="cat-title">
									Best Jersey
                                </div>
                                <div class="cat-info">
                                    <div class="item-count">
                                        <i class="fa fa-list"></i> 120
                                    </div>
                                    <div class="vote-count">
                                       <i class="fa fa-poll"></i> Played: 30000
                                    </div>
                                </div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}