{% extends "front/master.html" %}

{% block contents %}

	
	<div class="main-result-section">
		<div class="container">
			<div class="result-title">
				Leaderboard <i class="fa fa-trophy"></i>
			</div>
			<div class="row">
				<div class="col-md-4 col-4">
					<div class="result-item first">
						<div class="img-container">
							<img src="assets/images/messi.jpg" alt="" class="img-fluid" />
							<div class="votes">
								<span><i class="fa fa-thumbs-up"></i> : 2567</span>
							</div>
						</div>
						<div class="name">
							Lionel Messi
						</div>
						<div class="position">
							<span class="second">
								2nd
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-4">
					<div class="result-item second">
						<div class="img-container">
							<img src="assets/images/ronaldo.jpg" alt="" class="img-fluid" />
							<div class="votes">
								<span><i class="fa fa-thumbs-up"></i> : 2570</span>
							</div>
						</div>
						<div class="name">
							Cristiano Ronaldo
						</div>
						<div class="position">
							<span class="first">
								1st
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-4">
					<div class="result-item third">
						<div class="img-container">
							<img src="assets/images/salah.jpg" alt="" class="img-fluid" />
							<div class="votes">
								<span><i class="fa fa-thumbs-up"></i> : 2467</span>
							</div>
						</div>
						<div class="name">
							M. Salah
						</div>
						<div class="position">
							<span class="third">
								3rd
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="share-it">
			<a href=""><i class="fa fa-share"></i> Share with Friends</a>
		</div>
	</div>
	<div class="secondary-result-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
					<div class="other-result">
						<table class="table  table-striped table-boardered">
							
							<tbody>
							  <tr>
								<td>4th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>5th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>6th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>7th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>8th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>9th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>10th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>11th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  <tr>
								<td>12th</td>
								<td>Player Name</td>
								<td>2000</td>
							  </tr>
							  
							</tbody>
						  </table>
					</div>
			</div>
			<div class="col-md-4">
				<div class="more-section">
					<div class="more-title">	
						Are you ready to Vote More?
						 
					</div>
					<div class="row">
						<div class="col-md-6 col-6 ">
							<a href="votingPage.html">
								<div class="cat-item">
									<div class="img-container">
										<img
											src="assets/images/mobile.jpg"
											class="img-fluid"
											alt=""
										/>
									   
									</div>
									<div class="cat-title">
										Best Mobile
									</div>
									<div class="cat-info">
										<div class="item-count">
											<i class="fa fa-list"></i> 120
										</div>
										<div class="vote-count">
										   <i class="fa fa-poll"></i> Played: 30000
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-6">
							<a href="votingPage.html">
								<div class="cat-item">
									<div class="img-container">
										<img
											src="assets/images/marvel.jpeg"
											class="img-fluid"
											alt=""
										/>
									   
									</div>
									<div class="cat-title">
										Best Movie
									</div>
									<div class="cat-info">
										<div class="item-count">
											<i class="fa fa-list"></i> 120
										</div>
										<div class="vote-count">
										   <i class="fa fa-poll"></i> Played: 30000
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-6">
							<a href="votingPage.html">
								<div class="cat-item">
									<div class="img-container">
										<img
											src="assets/images/marvel.jpeg"
											
											class="img-fluid"
											alt=""
										/>
									   
									</div>
									<div class="cat-title">
										Best Movie
									</div>
									<div class="cat-info">
										<div class="item-count">
											<i class="fa fa-list"></i> 120
										</div>
										<div class="vote-count">
										   <i class="fa fa-poll"></i> Played: 30000
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-6">
							<a href="votingPage.html">
								<div class="cat-item">
									<div class="img-container">
										<img
											src="assets/images/mobile.jpg"
											class="img-fluid"
											alt=""
										/>
									   
									</div>
									<div class="cat-title">
										Best Mobile
									</div>
									<div class="cat-info">
										<div class="item-count">
											<i class="fa fa-list"></i> 120
										</div>
										<div class="vote-count">
										   <i class="fa fa-poll"></i> Played: 30000
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner category-banner mt-5">
		<div class="banner-content container">
			<form action="">
				<div class="form-group search">
					<input
						type="text"
						placeholder="Search for category"
						class="form-control"
					/>
				</div>
				<div class="form-group search-btn">
					<button type="submit">
						<i class="fa fa-search"></i>
						<span class="d-none d-md-inline-block">Search</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	</div>
	
{% endblock %}