{% extends "front/master.html" %}

{% block contents %}


	<div class="category-section category-page-section">
		<div class="container" id="cataccordion">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html"><i class="fa fa-home"></i> Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="index.html"><i class="fa fa-futbol"></i> Sports</a>
					</li>
					<li class="breadcrumb-item">
						<a href="category.html"><i class="fa fa-futbol"></i> Football</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						Best Player
					</li>
				</ol>
			</nav>
			<!-- Tab panes -->
			<div class="voting-content">
				<div class="voting-question">
					<h1>Vote for the Best Footballer</h1>
				</div>
				<div class="row">
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/messi.jpg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								Lionel Messi
							</div>
							
							
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/ronaldo.jpg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								Christiano Ronalda
							</div>
							
							
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/nemar.jpeg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								Nemar Jr.
							</div>
							
							
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/salah.jpg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								M. Salah
							</div>
							
							
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/nemar.jpeg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								Nemar Jr.
							</div>
							
							
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/salah.jpg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								M. Salah
							</div>
							
							
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/messi.jpg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								Lionel Messi
							</div>
							
							
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="voting-item">
							
							<div class="img-container">
								<img src="assets/images/ronaldo.jpg" class="img-fluid" alt="" />
								<div class="vote-btn">
									<a href="votingResult.html"><i class="fa fa-thumbs-up"></i> Vote</a>
								</div>
							</div>
							<div class="name">
								Christiano Ronalda
							</div>
							
							
						</div>
					</div>
				</div>
				<div class="item-search">
					<div class="item-search-title">
							Not Listed
					</div>
					<input type="text" class="form-control" placeholder="Search">
				</div>
			</div>
		</div>
	</div>
{% endblock %}